@font-face{font-family:'DISCORegular';src:url("../fonts/DISCO___-webfont.eot");src:url("../fonts/DISCO___-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/DISCO___-webfont.woff") format('woff'),url("../fonts/DISCO___-webfont.ttf") format('truetype'),url("../fonts/DISCO___-webfont.svg#DISCORegular") format('svg');font-weight:normal;font-style:normal}
body{font:100%/1.5em 'Helvetica Neue',Arial,sans-serif}
footer .copyright{font-size:.85em;text-align:center}
header .logo{text-align:center}
header nav{font-family:'DISCORegular';font-size:1.4em;text-transform:uppercase;}
header nav ul{list-style:none;margin:0;padding:0;}
header nav ul li a{background:#b3b3b3;border-radius:.3125em;color:#000;display:block;font-weight:bold;margin:.3125em .625em;padding:.2em .4em;text-align:center;text-decoration:none}
.home .profile{box-shadow:0 0 .625em rgba(0,0,0,0.5);margin:.625em auto;padding:.1em;float:left;margin:0 15px 15px 0}
.home p{font-size:.9em}
.works{margin:0 auto;}
.works .work{box-shadow:0 0 .625em rgba(0,0,0,0.5);box-sizing:border-box;display:inline-block;margin:1%;padding:.1em;text-align:center;width:47%;}
.works .work img{max-width:100%;display:block}
.contact form label{display:block}
.contact form input,.contact form textarea{display:block;box-sizing:border-box;padding:.45em;width:100%}
.contact form input[type=submit]{width:auto}
.contact form textarea{resize:none;height:3em}
@media screen and (min-width: 500px){header nav{font-size:.6em;text-align:center;margin:.8em auto 1.5em;}
header nav li{display:inline-block;width:24%}
.works .work{width:31%;margin:.9%}
}@media screen and (min-width: 778px){header nav{font-size:1em}
.contact .leftcol,.contact .rightcol{vertical-align:top;width:48%;display:inline-block;}
.contact .leftcol:nth-child(odd),.contact .rightcol:nth-child(odd){margin-right:2%}
}@media screen and (min-width: 900px){.works .work{width:23%;margin:.5%}
.wrapper{max-width:960px;margin-left:auto;margin-right:auto}
}