@font-face{font-family:'DISCORegular';src:url("../fonts/DISCO___-webfont.eot");src:url("../fonts/DISCO___-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/DISCO___-webfont.woff") format('woff'),url("../fonts/DISCO___-webfont.ttf") format('truetype'),url("../fonts/DISCO___-webfont.svg#DISCORegular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
body{font:100%/1.5em 'Roboto',sans-serif;margin:0;min-width:310px}
footer{background:#3b4250;color:#fff;font-size:.8em;padding:1.5em;text-align:center;text-shadow:rgba(0,0,0,0.5) 1px 1px 2px}
header{background:#3b4250;overflow:hidden;}
header .logo,header .text{margin-top:.625em}
header .logo{float:left;margin-left:.625em;width:73px}
header .text{color:#fff;font-family:'DISCORegular',sans-serif;float:left;margin-left:.625em;position:relative;top:.9em;}
header .text h1{font-size:2.5em;letter-spacing:-.15em;margin:0}
header .text h2{font-size:.8em;margin:0;padding-left:.4em}
header nav{clear:both;height:93px;line-height:93px;margin-top:90px;}
header nav ul{margin:0;padding:0;width:100%;}
header nav ul li{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;list-style:none;width:25%;border-left:1px solid #fff;}
header nav ul li a{color:#fff;display:block;text-align:center;text-decoration:none;text-shadow:rgba(0,0,0,0.5) 1px 1px 2px;}
header nav ul li a .icon{font-family:'icomoon';font-size:1.6em;color:#fff}
header nav ul li a .label{display:none}
header nav ul li.about{background:#68cab6;}
header nav ul li.about .icon:before{content:"\e60a"}
header nav ul li.paint{background:#fbb168;}
header nav ul li.paint .icon:before{content:"\e609"}
header nav ul li.crafts{background:#e17695;}
header nav ul li.crafts .icon:before{content:"\e608"}
header nav ul li.contact{background:#a285c5;}
header nav ul li.contact .icon:before{content:"\e601"}
header nav ul li:first-child{border-left:none}
.section{position:relative;}
.section:before{content:"";position:absolute;top:0;left:0;width:100%;height:30px;background:rgba(0,0,0,0.1);background:-moz-linear-gradient(top,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0.1)),color-stop(100%,rgba(0,0,0,0)));background:-webkit-linear-gradient(top,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);z-index:1}
.section:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:30px;background:rgba(0,0,0,0);background:-moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.1)));background:-webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background:-o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background:-ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);background:linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%);z-index:1}
.section .top{background:rgba(0,0,0,0.3);color:#fff;font-weight:bold;padding:.2em .6em;position:absolute;right:1em;top:1em;text-decoration:none;text-transform:uppercase;transition:background .3s ease;}
.section .top span:before{font-family:'icomoon';content:'\e60b'}
.section .top:hover{background:rgba(0,0,0,0.5)}
.section .wrapper{padding:1em;position:relative;overflow:hidden;z-index:2;}
.section .wrapper h3{color:rgba(0,0,0,0.6);font-size:3em;font-weight:bold;letter-spacing:-.04em;margin:.1em 0 .45em;text-align:left}
.section:first-child{border-top:none}
#about{background:#e8f7f4 url("../img/bg.png");}
#about .picture{display:inline-block;float:left;margin:0 1em 1em 0;vertical-align:top;width:150px}
#about p{margin:0;vertical-align:top}
#paint{background:#feecd9 url("../img/bg.png")}
.work{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;padding:.625em;width:50%;float:left;}
.work .container{background:#fff;border-radius:.325em;box-shadow:0 0 10px rgba(0,0,0,0.15) url("../img/bg.png");overflow:hidden;padding:.6em .6em 0;}
.work .container a{color:#3b4250;text-decoration:none}
.work .container img{display:block;max-width:100%}
.work .container .name,.work .container .details{margin-top:.2em}
.work .container .name{float:left;font-weight:bold;font-size:.5em;text-transform:uppercase}
.work .container .details{float:right;}
.work .container .details:before{content:"\e606";font-family:'icomoon'}
#crafts{background:#f8dde4 url("../img/bg.png")}
#contact{background:#d5c8e5 url("../img/bg.png");}
#contact form p label{display:block}
#contact form p .field{background:rgba(255,255,255,0.5);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:.25em;border:1px solid rgba(0,0,0,0.3);display:block;font-family:'Roboto',sans-serif;padding:.3em;width:100%}
#contact form p .textarea{height:60px;resize:none}
#contact form p .submit{background:#a285c5;border-radius:.25em;border:none;box-shadow:0 .325em 0 0 #8058b0;color:#fff;font-family:'Roboto',sans-serif;padding:1em 1.5em;text-transform:uppercase;position:relative;transition:all .2s ease;}
#contact form p .submit:active{box-shadow:0 0 0 0 #8058b0;top:.325em}
#contact form p .submit:focus{outline:none}
#contact form p.required label:after{content:' *';font-weight:bold;color:#e60000}
@media screen and (min-width: 400px){.work .container .name{font-size:.7em}
}@media screen and (min-width: 532px){.work{width:33.3333%}
}@media screen and (min-width: 750px){header nav{clear:none;line-height:normal;margin:0;float:right;}
header nav ul li{width:auto;}
header nav ul li a{height:93px;position:relative;width:93px;box-shadow:none;transition:box-shadow .3s ease;}
header nav ul li a .icon,header nav ul li a .label{left:0;position:absolute;width:100%}
header nav ul li a .icon{display:block;top:25px}
header nav ul li a .label{bottom:20px;display:block;font-size:.75em;text-transform:uppercase}
header nav ul li a:hover{box-shadow:inset 0 0 30px rgba(0,0,0,0.3)}
.section .wrapper h3{color:rgba(0,0,0,0.3);font-size:3em;font-weight:bold;letter-spacing:-.08em;margin:0 0 .4em;text-align:left;transition:color .3s ease}
.section:hover .wrapper h3{color:rgba(0,0,0,0.5)}
}@media screen and (min-width: 900px){.work{width:25%;}
.work .container{transition:box-shadow .3s ease}
.work:hover .container{box-shadow:0 0 10px rgba(0,0,0,0.45)}
}@media screen and (min-width: 960px){.wrapper{margin-left:auto;margin-right:auto;max-width:960px}
}