{% load staticfiles %}
{% load resizer %}
<!DOCTYPE html>
<html lang="es">
	<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
			<title>Miriana - Pintura &amp; Artesanías</title>
			<link rel="stylesheet" href="{% static "css/normalize.css" %}"/>
			<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'/>
			<link rel="stylesheet" href="{% static "css/styles.css" %}"/>
			<link rel="stylesheet" href="{% static "js/plugins/fancybox/jquery.fancybox.css" %}"/>

	</head>
	<body>
		<header>
			<img src="{% static "img/orquidea.png" %}" class="logo"/>
			<div class="text">
				<h1>MIRIANA</h1>
				<h2>PINTURA &amp; ARTEASENIAS</h2>
			</div>
			<nav>
				<ul>
					<li class="about">
						<a href="#about" title="Acerca de">
						<span class="icon"></span>
						<span class="label">Acerca de</span>
					</a>
					</li><li class="paint">
						<a href="#paint" title="painting">
							<span class="icon"></span>
							<span class="label">Pinturas</span>
						</a>
					</li><li class="crafts">
						<a href="#crafts" title="Artesarías">
							<span class="icon"></span>
							<span class="label">Artesanías</span>
						</a>
					</li><li class="contact">
						<a href="#contact" title="Contacto">
							<span class="icon"></span>
							<span class="label">Contacto</span>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<section class="section" id="about">
			<div class="wrapper">
				<a href="#" class="top"><span class="icon"></span></a>
				<h3>Acerca de</h3>
				<img src="{% static "img/miriana.jpg" %}" class="picture" />
				<p>Soy Miriana Kersten, nací en San Isidro, Provincia de Buenos Aires, allá por año 1956.  Si bien desde siempre me apasionó el dibujo y la pintura, fue sólo en el 2005, superando tabúes y mandatos familiares que comencé a dedicarme a su estudio y perfeccionamiento, esto fue en el taller de Doris Muller.  Siempre tratando de experimentar distintas técnicas y corrientes es que además de enamorarme de la naturaleza muerta y los paisajes descubrí el arte de las cajas rusas, y fue amor a primera vista.</p>
				<p>La búsqueda nunca termina, siempre habrá algo nuevo y maravilloso aguardado a ser encontrado, espero compartirlo con todos Uds. a través es éste, mi lugar.</p>
			</div>
		</section>
		<section class="section" id="paint">
			<div class="wrapper">
				<a href="#" class="top"><span class="icon"></span></a>
				<h3>Pinturas</h3>
				{% for painting in paintings %}
				{% resizer painting.image "200x200" "crop" %}
				<div class="work">
					<div class="container">
						<a href="painting_details.html">
							<!-- aca va la imagen -->
						</a>
						<a href="painting_details.html" class="name">{{ painting.name }}</a>
						<a href="painting_details.html" class="details"></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</section>
		<section class="section" id="crafts">
			<div class="wrapper">
				<a href="#" class="top"><span class="icon"></span></a>
				<h3>Artesanías</h3>
				<div class="work">
					<div class="container">
						<a href="crafts_details.html?"><img src="img/craft.jpg" alt=""></a>
						<a href="crafts_details.html?" class="name">Caja rusa 20x20x8</a>
						<a href="crafts_details.html?" class="details"></a>
					</div>
				</div>
			</div>
		</section>
		<section class="section" id="contact">
			<div class="wrapper">
				<a href="#" class="top"><span class="icon"></span></a>
				<h3>Contacto</h3>
				<div class="column">
					<p>Envíe un mensaje rápido completando el siguiente formulario</p>
					<form action="" onsubmit="return false;">
						<p class="required">
							<label for="name">Nombre:</label>
							<input type="text" id="name" name="name" class="field"/>
						</p>
						<p class="required">
							<label for="email">Email:</label>
							<input type="email" id="email" name="email" class="field"/>
						</p>
						<p>
							<label for="phone">Teléfono:</label>
							<input type="tel" id="phone" name="phone" class="field"/>
						</p>
						<p class="required">
							<label for="message">Mensaje:</label>
							<textarea id="message" name="message" class="field textarea"></textarea>
						</p>
						<p>
							<input type="submit" class="submit" value="Enviar"/>
						</p>
					</form>
				</div>
				<div class="column other">
					<p>También puede entrar en contacto utilizando los siguientes medios:</p>
					<ul>
						<li class="facebook"><a href="javascript:void(0);" title="Facebook">/miriana.pintura</a></li>
						<li class="twitter"><a href="javascript:void(0);" title="Twitter">@miriana</a></li>
						<li class="skype"><a href="javascript:void(0);" title="Skype">mirianakersten</a></li>
						<li class="email"><a href="javascript:void(0);">info@miriana.com</a></li>
						<li class="tel">+54 11 9 15 6584 3214</li>
					</ul>
				</div>
			</div>
		</section>
		<footer>
			<p class="copyright">Copyright &copy; 2013 - Miriana Kersten</p>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{% static "js/plugins/fancybox/jquery.fancybox.pack.js" %}"></script>
		<script src="{% static "js/main.js" %}"></script>
	</body>
</html>