<h4>Flor Violeta</h4>
<section class="picture">
	<img src="img/painting_big.jpg"/>
</section>
<section class="details">
	<div class="item">
		<h6>Técnica</h6>
		<p>Acrílico sobre lienzo</p>
	</div>
	<div class="item">
		<h6>Dimensiones</h6>
		<p>60x60</p>
	</div>
	<div class="item">
		<h6>Medio</h6>
		<p>Linezo de tela engomada</p>
	</div>
	<div class="item">
		<h6>Descripción</h6>
		<p>La flor violeta es la seleccionada como ejemplo del sitio. Es la primer foto que encontré y ademas me gusta.</p>
	</div>
</section>